{include file="common/header" title="<?php echo($title); ?>" /}
<!-- <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/index/style/imglist.css"> -->

<script>
    $('body').addClass('blog masonry-style');
    $('body').removeClass('page');
    // document.body.classList.add('list-styl');
</script>
<main role="main">
    <!-- <div id="intro-wrap" data-height="27.778">
        <div id="intro" class="preload darken">
            <div class="intro-item" style="background-image: url(http://placehold.it/1800x600/ddd/fff&text=Beetle%20image);">
                <div class="caption">
                    <h2>Stories I Tell</h2>
                    <p>The universe is made of stories, not of atoms.</p>
                </div>
                <div class="photocaption">
                    <h4>A shot by <a href="http://doctype.me/" target="blank" alt="Aleks Dorohovich">Aleks Dorohovich</a></h4>
                </div>
            </div>
        </div>
    </div> -->

    <div id="main" class="row">
        <div class="row-content buffer clear-after">
            <div class="grid-items preload">
                <article class="item column six">
                    <a href="#">
                        <figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""><span class="blog-overlay"><i class="icon icon-doc"></i></span></figure>
                        <div class="blog-excerpt">
                            <div class="blog-excerpt-inner">
                                <h5 class="meta-post">Interior design</h5>
                                <h2>A confortable desk</h2>
                            </div><!-- blog-excerpt -->
                        </div><!-- blog-excerpt-inner -->
                    </a>
                </article>
                <article class="item column three">
                    <a href="#">
                        <figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""><span class="blog-overlay"><i class="icon icon-doc"></i></span></figure>
                        <div class="blog-excerpt">
                            <div class="blog-excerpt-inner">
                                <h5 class="meta-post">Relax, Hobbies</h5>
                                <h2>How I spend my time</h2>
                                <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div><!-- blog-excerpt-inner -->
                        </div><!-- blog-excerpt -->
                    </a>
                </article>
                <article class="item column three">
                    <a href="#">
                        <figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""><span class="blog-overlay"><i class="icon icon-doc"></i></span></figure>
                        <div class="blog-excerpt">
                            <div class="blog-excerpt-inner">
                                <h5 class="meta-post">Holidays</h5>
                                <h2>Snow &amp; silence</h2>
                                <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div><!-- blog-excerpt -->
                        </div><!-- blog-excerpt-inner -->
                    </a>
                </article>
                <article class="item column three">
                    <a href="#">
                        <figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""><span class="blog-overlay"><i class="icon icon-doc"></i></span></figure>
                        <div class="blog-excerpt">
                            <div class="blog-excerpt-inner">
                                <h5 class="meta-post">Music, Headphones</h5>
                                <h2>5 Hi-Fi headphones</h2>
                                <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div><!-- blog-excerpt -->
                        </div><!-- blog-excerpt-inner -->
                    </a>
                </article>
                <article class="item column three">
                    <a href="#">
                        <figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""><span class="blog-overlay"><i class="icon icon-doc"></i></span></figure>
                        <div class="blog-excerpt">
                            <div class="blog-excerpt-inner">
                                <h5 class="meta-post">Web Design</h5>
                                <h2>Build awesome layouts</h2>
                                <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div><!-- blog-excerpt -->
                        </div><!-- blog-excerpt-inner -->
                    </a>
                </article>
                <article class="item column six">
                    <a href="#">
                        <figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""><span class="blog-overlay"><i class="icon icon-doc"></i></span></figure>
                        <div class="blog-excerpt">
                            <div class="blog-excerpt-inner">
                                <h5 class="meta-post">Photography, Instagram</h5>
                                <h2>We are all made of stars</h2>
                            </div><!-- blog-excerpt -->
                        </div><!-- blog-excerpt-inner -->
                    </a>
                </article>
                <article class="item column three">
                    <a href="#">
                        <figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""><span class="blog-overlay"><i class="icon icon-doc"></i></span></figure>
                        <div class="blog-excerpt">
                            <div class="blog-excerpt-inner">
                                <h5 class="meta-post">Life Style</h5>
                                <h2>Order is all</h2>
                                <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div><!-- blog-excerpt -->
                        </div><!-- blog-excerpt-inner -->
                    </a>
                </article>
                <article class="item column three">
                    <a href="#">
                        <figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""><span class="blog-overlay"><i class="icon icon-doc"></i></span></figure>
                        <div class="blog-excerpt">
                            <div class="blog-excerpt-inner">
                                <h5 class="meta-post">Writing</h5>
                                <h2>A neat writer</h2>
                                <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div><!-- blog-excerpt -->
                        </div><!-- blog-excerpt-inner -->
                    </a>
                </article>
                <article class="item column three">
                    <a href="#">
                        <figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""><span class="blog-overlay"><i class="icon icon-doc"></i></span></figure>
                        <div class="blog-excerpt">
                            <div class="blog-excerpt-inner">
                                <h5 class="meta-post">Places, Holidays</h5>
                                <h2>Hike with a bike!</h2>
                                <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div><!-- blog-excerpt -->
                        </div><!-- blog-excerpt-inner -->
                    </a>
                </article>
                <article class="item column three">
                    <a href="#">
                        <figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""><span class="blog-overlay"><i class="icon icon-doc"></i></span></figure>
                        <div class="blog-excerpt">
                            <div class="blog-excerpt-inner">
                                <h5 class="meta-post">Job, Graphic Design</h5>
                                <h2>2014 new sights</h2>
                                <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div><!-- blog-excerpt -->
                        </div><!-- blog-excerpt-inner -->
                    </a>
                </article>
                <div class="shuffle-sizer three"></div>
            </div><!-- grid-items -->
            <div id="pagination">
                <ul class="clear-after reset plain">
                    <li id="older" class="pagination-nav"><a href="#" class="button transparent aqua"><i class="fa fa-chevron-left"></i><span class="label">Older</span></a></li>
                    <li id="newer" class="pagination-nav"><a href="#" class="button transparent aqua"><span class="label">Newer</span><i class="fa fa-chevron-right"></i></a></li>
                </ul>
            </div>
        </div><!-- row-content -->
    </div><!-- row -->
</main><!-- main -->
<!-- div id="wrapper">
    <div id="xh_container" style="min-height: 520px;">
        <div class="path" >
            <a href='#'>主页 ></a>
            {volist name="arr" id="v"}
            <a href='{:url('imglist/index',array('cateid'=>$v.id))}'>{$v['catename']}</a>>
            {/volist}
        </div>

        <div class="xh_265x265x00">
            {volist name="artRes" id="article"}
            <div style="float: left; width: 343px; height: 293px; background-color: #ffffff;
                border: solid 1px #ccc; margin-left: 15px;margin-top: 15px;">
                <div style="background-color: #cccccc; width: 313px; height: 188px; margin-top: 16px;
                    margin-left: 14px;">
                    <a target="_blank" href="{:url('Article/index',array('artid'=>$article['id']))}"><img src="{$article.thumb}" alt="{$article.title}" height="188" width="313"></a>
                </div>
                <div style="margin-left: 14px; line-height: 25px; margin-top: 10px;">
                    <div style="font-size: 12px;color:#cccccc;">{$article.time|date="Y年m月d日",###}</div>
                    <div style="font-size: 14px;height:45px;">
                       <a target="_blank" href="{:url('Article/index',array('artid'=>$article['id']))}">{$article.title}</a></div>

                </div>
            </div>
            {/volist}

        </div>

        <div id="pagination" style="text-align: center;  width: 100%;" >
            <div class="wp-pagenavi">
                {$artRes->render()}
            </div>
        </div>
    </div>
</div>

    <script type="text/javascript">
        $("#menu-item-198").find("a").addClass("a");
        $(".i-prev").hover(function () { $(this).addClass("i-prev-o"); }, function () { $(this).removeClass("i-prev-o"); });
        $(".i-next").hover(function () { $(this).addClass("i-next-o"); }, function () { $(this).removeClass("i-next-o"); });
        $(".more0").hover(function () { $(this).attr("src", "./style/simg/more-o.png"); }, function () { $(this).attr("src", "./style/simg/more.png"); });
    </script>


<script type="text/javascript">
        $(function () {
            var imgHoverSetTimeOut = null;
            $('.xh_265x265x00 img').hover(function () {
                var oPosition = $(this).offset();
                var oThis = $(this);
                $(".boxBor").css({
                    left: oPosition.left,
                    top: oPosition.top,
                    width: oThis.width(),
                    height: oThis.height()
                });
                $(".boxBor").show();
                var urlText = $(this).parent().attr("href");
                $("#hdBoxbor").val(urlText);
            }, function () {
                imgHoverSetTimeOut = setTimeout(function () { $(".boxBor").hide(); }, 500);
            });
            $(".boxBor").hover(
                function () {
                    clearTimeout(imgHoverSetTimeOut);
                }
                , function () {
                    $(".boxBor").hide();
                }
            );
        });
        function IBoxBor() {
            window.open($("#hdBoxbor").val());
        }
        function goanewurl() {
            window.open($("#hdUrlFocus").val());
        }
</script> -->


{include file="common/footer" /}
