{extend name="public/base" /}

{block name="content"}
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    {:lang('Add Game')}
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i>{:lang('Home Page')}</a></li>
    <li><a href="#">{:lang('The Game')}</a></li>
    <li class="active">{:lang('Add Game')}</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="box box-solid">
           <form method="post" id="form" action="" class="form-horizontal">
              <!-- Custom Tabs -->
              <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#tab_1" data-toggle="tab"  aria-expanded="true">{:lang('Basic Information')}</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{:lang('The Game Name')}</label>
                                    <div class="col-sm-3">
                                        <input type="hidden" name="type" value="1">
                                        <input type="text" name="game_name" class="form-control">
                                    </div>
                                    <label class="col-sm-1 control-label">{:lang('The First Letter')}</label>
                                    <div class="col-sm-1">
                                        <input type="text" name="initial"  class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{:lang('The Game Type')}</label>
                                    <div class="col-sm-3">
                                        <select class="form-control" name="game_type">
                                            {volist name="type" id="vo" key="key"}
                                            <option value="{$key-1}">{$vo}</option>
                                            {/volist}
                                        </select>
                                    </div>
                                    <label class="col-sm-1 control-label">{:lang('System Version')}</label>
                                    <div class="col-sm-3">
                                        <label class="radio-inline">
                                            <input type="radio" name="iphone_type" value="0"> {:lang('Andriod')}
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio"name="iphone_type" value="1"> {:lang('IOS')}
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{:lang('Release Status')}</label>
                                    <div class="col-sm-3">
                                        <label class="radio-inline">
                                            <input type="radio"  name="status" value="-1"> {:lang('Close')}
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="status" value="1"> {:lang('Open')}
                                        </label>
                                    </div>
                                    <label class="col-sm-1 control-label">{:lang('Whether to Recommend')}</label>
                                    <div class="col-sm-3">
                                        <label class="radio-inline">
                                            <input type="radio" name="recommend_status" value="0"> {:lang('No')}
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="recommend_status" value="1"> {:lang('Yes')}
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="recommend_status" value="2"> {:lang('Hot')}
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{:lang('Support the Product Category')}</label>
                                    <div class="col-sm-5">
                                        <label class="checkbox-inline">
                                            <input type="checkbox"  name="goods_type[]" value="1"> {:lang('Account')}
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox"  name="goods_type[]" value="2"> {:lang('Acting Exercises')}
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="goods_type[]" value="3">{:lang('The Props')}
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="goods_type[]" value="4">{:lang('Game Gold Coins')}
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox"  name="goods_type[]" value="5"> {:lang('Point-Card')}
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox"  name="goods_type[]" value="6"> {:lang('Recharge')}
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox"  name="goods_type[]" value="7"> {:lang('Gift Package')}
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox"  name="goods_type[]" value="8"> {:lang('Other')}
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{:lang('The Game Icon')}</label>
                                    <div class="col-sm-3">
                                        <div id="img1"> </div>
                                        <input id="files1" type="file" name="images" multiple="multiple" class="file" data-preview-file-type="text">
                                    </div>
                                    <label class="col-sm-1 control-label">{:lang('The Game Cover')}</label>
                                    <div class="col-sm-3">
                                        <div id="img2"> </div>
                                        <input id="files2" type="file" name="images" multiple="multiple" class="file" data-preview-file-type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{:lang('Game Website Address ')}</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="game_url" class="form-control" placeholder="{:lang('Please Input')} {:lang('Game Website Address')}">
                                    </div>
                                    <label class="col-sm-1 control-label">{:lang('Game Download Address')}</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="download_url" class="form-control" placeholder="{:lang('Please Input')} {:lang('Game Download Address')}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{:lang('Game Recommendation Index')}</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="tuinum" class="form-control">
                                    </div>
                                    <label class="col-sm-1 control-label">{:lang('The Sorting')}</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="sort"  class="form-control" placeholder="{:lang('The greater the Digital, the more forward')}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{:lang('Content')}</label>
                                    <div class="col-sm-7">
                                        {cms:ueditor name='game_info'/}{/cms:ueditor}
                                    </div>
                                </div>
                    </div>
                </div>
                <!-- /.tab-content -->
                <div class="box-footer">
                  <div class="col-sm-offset-2 col-sm-10">
                    <div class="btn-group">
                        <button class="btn btn-default btn-flat" type="reset">{:lang('Cancel')}</button>
                        <button class="btn btn-primary btn-flat" id="submit" type="submit">{:lang('Determine')}</button>
                        <div class="btn-group ">
                        <a class="btn btn-default btn-flat" href="javascript:history.back(-1);">{:lang('Return')}</a>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- nav-tabs-custom -->
            </form>
    </div>

</section>
<!-- /.content -->
{/block}
{block name="js"}
<!--./{:lang('Upload Pictures')}-->
<link rel="stylesheet" type="text/css" href="__STATIC__/static/fileinput/css/fileinput.css">
<script type="text/javascript" src="__STATIC__/static/fileinput/js/plugins/canvas-to-blob.min.js"></script>
<script type="text/javascript" src="__STATIC__/static/fileinput/js/plugins/sortable.min.js"></script>
<script type="text/javascript" src="__STATIC__/static/fileinput/js/plugins/purify.min.js"></script>
<script type="text/javascript" src="__STATIC__/static/fileinput/js/fileinput.min.js"></script>
<script type="text/javascript" src="__STATIC__/static/fileinput/js/locales/zh.js"></script>
<script type="text/javascript">
// with plugin options
$("#files1,#files2").fileinput({'showUpload':true,
    'previewFileType':'any',
    'maxFileCount': 1,
    'language':'zh',
    'enctype':'multipart/form-data',
    'allowedFileTypes':['image'] ,//['image', 'html', 'text', 'video', 'audio', 'flash', 'object']
    'allowedFileExtensions':['jpg', 'gif', 'png'],
    'uploadUrl':"{:url('admin/ueditor/uploadimage')}",
    'showUploadedThumbs':true,
    'dropZoneEnabled': true,//是否{:lang('Display')}拖拽区域
    // for image files
});

$("#files1").on("fileuploaded", function (event, data, previewId, index) {
    var obj = data.response;
    var fileName = '<input type="hidden" name="icon" value="'+ obj.data.saveName +'" >';
    $("#img1").html(fileName);
});
$("#files2").on("fileuploaded", function (event, data, previewId, index) {
    var obj = data.response;
    var fileName = '<input type="hidden" name="cover" value="'+ obj.data.saveName +'" >';
    $("#img2").html(fileName);
});

$('#files1').on('filesuccessremove', function(event, id) {
    // console.log('Uploaded thumbnail successfully removed');
    $("#img1").empty();
});
$('#files2').on('filesuccessremove', function(event, id) {
    // console.log('Uploaded thumbnail successfully removed');
    $("#img2").empty();
});
</script>

<script>

    $(function(){

        $("#form").validate({
            rules: {
                title: {
                    required: true,
                    maxlength: 150
                },
                count: {
                    number: true,
                },
                content: {
                    required: true,
                },
            },
            submitHandler: function(form) {
                <!-- alert("submitted!");
                $.ajax({
                    url:"{:url('admin/game/store')}",
                    data:$(form).serialize(),
                    type:'post',
                    dataType:'json',
                    success:function(xhr){
                        if(xhr.code == 200){
                            swal({
                                title: xhr.msg,
                                text: "",
                                type: "success",
                                confirmButtonText: '{:lang('Determine')}',
                                cancelButtonText: '{:lang('Cancel')}',
                            });
                        } else{
                            swal({
                                title: xhr.msg,
                                text: "",
                                type: "error",
                                confirmButtonText: '{:lang('Determine')}',
                                cancelButtonText: '{:lang('Cancel')}',
                            });
                        }
                    }
                });

            }
        });

    });
</script>
{/block}

