{extend name="public/base" /}

{block name="content"}
<!-- Content Header (Page header) -->

<!-- Page Breadcrumb -->
<div class="page-breadcrumbs">
    <ul class="breadcrumb">
        <li><a href="#">系统</a></li>
        <li><a href="#">路由规则</a></li>
    </ul>
</div>
<!-- /Page Breadcrumb -->

<!-- Page Body -->
<div class="page-body">
    <!-- Main content -->
    <div class="box box-solid">
        <div class="box-header with-border">
            <a href="{:Url('admin/rule/create')}" class="btn btn-default btn-flat"><i class="fa fa-plus-square"></i> 添加路由规则</a>
            <a href="javascript::void(0)" onclick="reorder()" class="btn btn-default btn-flat"><i class="fa fa-sort-amount-desc"></i> 排序</a>
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="widget widget-body flip-scroll">
                <table class="table table-bordered table-hover text-center">
                    <thead>
                        <tr>
                            <th class="text-center">排序</th>
                            <th class="text-center">名称</th>
                            <th class="text-center" width="10%">模块</th>
                            <th class="text-center" width="10%">控制器</th>
                            <th class="text-center" width="10%">方法</th>
                            <th class="text-center" width="10%">显示状态</th>
                            <th class="text-center" width="10%">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <form id="rule" method="post">
                        {volist name="data" id="vo"}
                        <tr id = "t_{$vo.id}">
                            <td width="50">
                                <input name="ids[]" type="hidden" value="{$vo.id}">
                                <input class="form-control input-sm" name="reorder[]" type="text" value="{$vo.reorder}">
                            </td>
                            <td class="text-left">{neq name="vo.level" value="1"}<span style="color:#ccc;">{$vo.html}|----</span>{/neq}{$vo.name}</td>
                            <td>{$vo.module}</td>
                            <td>{$vo.controller}</td>
                            <td>{$vo.action}</td>
                            <td>{eq name="vo.is_menu" value="1"}
                                <a class="btn btn-success btn-sm" href="javascript:void(0);">启用</a>
                                {else/}
                                <a class="btn btn-darkorange btn-sm" href="javascript:void(0);">禁用</a>
                                {/eq}
                            </td>
                            <td>
                                <div class="btn-group">
                                    <a href="{:Url('admin/rule/edit',['id'=>$vo.id])}" class="btn btn-default btn-xs"><i class="fa fa-edit"></i></a>
                                    <a onClick="deleteOne({$vo.id})" class="btn btn-default btn-xs"><i class="fa fa-trash-o"></i></a>
                                </div>
                            </td>
                        </tr>
                        {/volist}
                        </form>
                    </tbody>
                </table>
                </div>

            </div>
        </div>
    </div>
</div>

</section>
<!-- /.content -->
{/block}


{block name="js"}
<script>
    function reorder(){
        $.ajax({
            url:"{:Url('admin/rule/reorder')}",
            data:$("#rule").serialize(),
            type:'post',
            dataType:'json',
            success: function(xhr){
                if(xhr.code == 200){
                    swal(xhr.msg, "", "success");
                }else{
                    swal(xhr.msg, "", "error");
                }
            }
        })
    }

    function deleteOne(id){
            swal({
                title: "{:lang('Are you sure you want to delete this message?')}",
                text: "",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "{:lang('Determine')}",
                cancelButtonText: "{:lang('Cancel')}",
                closeOnConfirm: false,
                closeOnCancel: false },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url:"{:Url('admin/rule/remove')}",
                        data:{'id':id},
                        type:'post',
                        dataType:'json',
                        success: function(xhr){
                            if(xhr.code == 200){
                                swal(xhr.msg, "", "success");
                                $("#t_"+id).remove();
                            }else{
                                swal(xhr.msg, "", "error");
                            }
                        }
                    })
                } else {
                    swal("{:lang('Cancel Operation')}", "", "error");
                }
            });
    }
</script>
{/block}
