{extend name="public/base" /}

{block name="content"}
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    {:lang('Popular Search Keywords')}
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i>{:lang('Home Page')}</a></li>
    <li><a href="#">{:lang('Operations')}</a></li>
    <li class="active">{:lang('Popular Search Keywords')}</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="box box-solid">
              <!-- Custom Tabs -->
        <form method="post" id="form" action="" class="form-horizontal">
            <div class="nav-tabs-custom">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{:lang('The Title')}</label>
                            <div class="col-sm-4">
                                <input type="text" name="title" value="{:lang('Popular Search Keywords')}"  readonly="readonly" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{:lang('Add Entries')}</label>
                            <div class="col-sm-4">
                                <input type="text" name="words"  class="form-control" placeholder="{:lang('Separate with commas, up to six')}">
                                <input type="hidden" name="pos_id" value="20">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{:lang('The Period of Validity')}</label>
                            <div class="col-sm-2">
                                <input type="" name="start_time" class="form_datetime form-control" placeholder="{:lang('The Start time')}">
                            </div>
                            <div class="col-sm-1" style="width: 1%;padding-right: 0px;padding-left: 0px;">to</div>
                            <div class="col-sm-2">
                                <input type="" name="end_time" class="form_datetime form-control " placeholder="{:lang('The End time')}">
                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="btn-group">
                                    <input type="hidden" name="pos_id" value="19" >
                                    <button class="btn btn-default btn-flat" type="reset">{:lang('Cancel')}</button>
                                    <button class="btn btn-primary btn-flat" id="submit" type="submit">{:lang('Save')}</button>
                                </div>
                                <a class="btn btn-default btn-flat" href="javascript:history.back(-1);">{:lang('Return')}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</section>
<!-- /.content -->
{/block}

{block name="js"}
<link rel="stylesheet" type="text/css" href="__STATIC__/static/bootstrap/css/bootstrap-datetimepicker.css">
<script type="text/javascript" src="__STATIC__/static/bootstrap/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="__STATIC__/static/bootstrap/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script>

    $(function(){

        $("#form").validate({
            rules: {
                title: {
                    required: true,
                },
                words: {
                    required: true,
                }
            },
            submitHandler: function(form) {
                <!-- alert("submitted!");
                $.ajax({
                    url:"{:url('admin/cover/addHotWords')}",
                    data:$(form).serialize(),
                    type:'post',
                    dataType:'json',
                    success:function(xhr){
                        if(xhr.code == 200){
                            swal({
                                title: xhr.msg,
                                text: "",
                                type: "success",
                                confirmButtonText: '{:lang('Determine')}',
                                cancelButtonText: '{:lang('Cancel')}',
                            });
                        } else{
                            swal({
                                title: xhr.msg,
                                text: "",
                                type: "error",
                                confirmButtonText: '{:lang('Determine')}',
                                cancelButtonText: '{:lang('Cancel')}',
                            });
                        }
                    }
                });

            }
        });

    });
</script>
<!--日历控件-->
<script type="text/javascript">
 $(".form_datetime").datetimepicker({
    format: "yyyy-mm-dd",
    autoclose: true,
    todayBtn: true,
    todayHighlight: true,
    showMeridian: true,
    pickerPosition: "bottom-left",
    language: 'en-us',//中文，需要引用zh-CN.js包
    startView: 2,//月视图
    minView: 2//日期{:lang('Time')}{:lang('Choose')}器所能够提供的最精确的{:lang('Time')}{:lang('Choose')}视图
 });
</script>
{/block}
