{extend name="public/base" /}

{block name="content"}
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    {:lang('Recharge Settings')}
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i>{:lang('Home Page')}</a></li>
    <li><a href="#">{:lang('System')}</a></li>
    <li class="active">{:lang('Recharge Settings')}</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="box box-solid">
           <form method="post" id="form" action="" class="form-horizontal">
              <!-- Custom Tabs -->
              <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">{:lang('Parameter Settings')}</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="tab_1">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{:lang('Minimum Recharge Amount')}</label>
                            <div class="col-sm-1">
                                 <input type="text" name="lower" value="{$recharge.lower}" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{:lang('Maximum Recharge Amount')}</label>
                            <div class="col-sm-1">
                                 <input type="text" name="higher" value="{$recharge.higher}" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{:lang('Expiration Time')}</label>
                            <div class="col-sm-1">
                                 <input type="text" name="expire" value="{$recharge.expire/(3600*24)}" class="form-control">
                            </div>
                            <label class="control-label">{:lang('Days After')}</label>
                        </div>
                  </div>
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
                <div class="box-footer">
                  <div class="col-sm-offset-2 col-sm-10">
                    <div class="btn-group">
                        <button class="btn btn-default btn-flat" type="reset">{:lang('Cancel')}</button>
                        <button class="btn btn-primary btn-flat" id="submit" type="submit">{:lang('Save')}</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- nav-tabs-custom -->
            </form>
    </div>

</section>
<!-- /.content -->
{/block}

{block name="js"}

<script>

    $(function(){

        $("#form").validate({
            rules: {
                key: {
                    required: true,
                    maxlength: 150
                },
                name: {
                    required: true,
                    maxlength: 150
                }
            },
            submitHandler: function(form) {
                <!-- alert("submitted!");
                $.ajax({
                    url:"{:url('admin/system/editRecharge')}",
                    data:$(form).serialize(),
                    type:'post',
                    dataType:'json',
                    success:function(xhr){
                        if(xhr.code == 200){
                            swal({
                                title: xhr.msg,
                                text: "",
                                type: "success",
                                confirmButtonText: '{:lang('Determine')}',
                                cancelButtonText: '{:lang('Cancel')}',
                            });
                        } else{
                            swal({
                                title: xhr.msg,
                                text: "",
                                type: "error",
                                confirmButtonText: '{:lang('Determine')}',
                                cancelButtonText: '{:lang('Cancel')}',
                            });
                        }
                    }
                });

            }
        });

    });
</script>
{/block}