<table width="100%" border="0" cellspacing="0" cellpadding="0" style="background:#eeeeee; font-family: 'Microsoft YaHei', '微软雅黑', 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',  Arial, sans-serif;">
    <tbody>
        <tr>
            <td colspan="3" height="20"></td>
        </tr>
        <tr>
            <td></td>
            <td width="680">
                <table width="680" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td colspan="3" style="background: #ffa100" height="160" align="center"><img style="display: block" height="68" src="http://m.th1819.com/email_logo.png" alt=""></td>
                    </tr>
                    <tr>
                        <td colspan="3" height="30" style="background: #fff"></td>
                    </tr>
                    <tr>
                        <td width="50" style="background: #ffffff"></td>
                        <td style="background: #ffffff">
                            <p>
                                โปรดตรวจสอบกล่องจดหมายยืนยันว่ากล่องจดหมายสามารถใช้ฟังก์ชัน TPGAME ได้เต็มรูปแบบ
                            </p>
                            <p><a href="{$url}" target="_blank" style="background-color:#ff6c00;color:#ffffff;display:inline-block;width:160px;height:40px;line-height:40px;text-align:center;border-radius:3px;text-decoration:none;">
                                การตรวจสอบ
                            </a></p>

                            <p>อีเมลนี้ใช้ได้ภายใน 2 ชั่วโมง ถ้าปุ่มไม่ทำงาน
                            <a href="http://www.tpgame.co.th" target="_blank" style="color:#ff6c00;text-decoration:none;">คลิกที่นี่</a></p>
                            <p>หากคุณไม่ได้ลงทะเบียนสำหรับบัญชีนี้โปรดละเว้น</p>
                        </td>
                        <td width="50" style="background: #ffffff"></td>
                    </tr>
                    <tr>
                        <td colspan="3" height="30" style="background: #ffff"></td>
                    </tr>
                    <tr>
                        <td colspan="3" height="20"></td>
                    </tr>
                    <tr>
                        <td colspan="3" style="color: #999; font-size: 12px" align="center">© 2017-2018 tpgame.co.th สงวนลิขสิทธิ์</td>
                    </tr>
                </table>
            </td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3" height="20"></td>
        </tr>
    </tbody>
</table>
