{extend name="public/base" /}

{block name="content"}
<!-- Page Breadcrumb -->
<div class="page-breadcrumbs">
    <ul class="breadcrumb">
        <li><a>用户</a></li>
        <li><a>前端用户</a></li>
        <li><a href="{:url('generaluser/certification')}">身份认证</a></li>
        <li>认证审核</li>
    </ul>
</div>
<!-- /Page Breadcrumb -->
<!-- Page Body -->
<div class="page-body">
    <div class="box box-solid">
           <form method="post" id="form" action="" class="form-horizontal">
              <!-- Custom Tabs -->
              <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">认证信息</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">用户ID：</label>
                            <div class="col-sm-5">
                                <input type="text" Disabled  value="{$data.user_id}" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">会员ID：</label>
                            <div class="col-sm-5">
                                <input type="text" Disabled  value="{$data.vid}" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">账号：</label>
                            <div class="col-sm-5">
                                <input type="text" Disabled  value="{$data.account}" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">真实姓名：</label>
                            <div class="col-sm-5">
                                <input type="text" Disabled  value="{$data.real_name}" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">身份证号：</label>
                            <div class="col-sm-2">
                                <input type="text" Disabled  value="{$data.idcard}" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">身份证照片：</label>
                            <div class="col-sm-5">
                                <img src="{$data.id_pic}" style="width:100px;height: 100px;" onclick='window.open($(this).attr("src"))'/>
                                <img src="{$data.bank_pic}" style="width:100px;height: 100px;" onclick='window.open($(this).attr("src"))'/>
                            </div>
                        </div>
                        {if condition = "$data.status neq '0'"}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">审核状态：</label>
                            <div class="col-sm-2">
                                {eq name="data.status" value="1"}
                                <label class="radio-inline">
                                    <input checked type="radio" name="status" value="1"> 审核通过
                                </label>
                                {/eq}
                                {eq name="data.status" value="2"}
                                <label class="radio-inline">
                                    <input checked type="radio" name="status" value="2"> 审核不通过
                                </label>
                                {/eq}
                            </div>
                        </div>
                        {/if}
                        {if condition = "$data.status eq '0'"}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">审核</label>
                            <div class="col-sm-9">
                                <label class="radio-inline">
                                    <input type="radio" name="status" value="1"> 审核通过
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="status" value="2"> 审核不通过
                                </label>
                            </div>
                        </div>
                        {/if}
                        <div class="form-group" id="delay" style="display: none">
                            <label class="col-sm-2 control-label">理由：</label>
                            <div class="col-sm-5">
                                <input type="text" name="reason" class="form-control">
                            </div>
                        </div>
                    </div>
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
                <div class="box-footer">
                <div class="col-sm-offset-2 col-sm-10">
                    {if condition = "$data.status eq 0"}
                    <div class="btn-group">
                        <input type="hidden" name="id" value="{$data.id}">
                        <button class="btn btn-default btn-flat" type="reset">取消</button>
                        <button class="btn btn-primary btn-flat" id="submit" type="submit">保存</button>
                    </div>
                    {/if}
                    <div class="btn-group ">
                        <a class="btn btn-default btn-flat" href="javascript:history.back(-1);">返回</a>
                    </div>
                </div>
                </div>
              </div>
              <!-- nav-tabs-custom -->
            </form>
    </div>

</section>
<!-- /.content -->
{/block}

{block name="js"}
<script>
    $(function(){
        $(":radio").click(function(){
            
            var check = $(this).val();
            if(check == '1'){
                $("#delay").css({"display":"none"});
            }
            if(check == '2'){
                $("#delay").css({"display":""});
            }
        });
    })
</script>
<script>
    $(function(){
        $("#form").validate({
        rules: {
            reason:{
                required:true
            }
        },
        submitHandler: function(form) {
           
            $("#submit").attr({"disabled":"disabled"});
            swal({
            title: "确定提交",
            text: "",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            closeOnConfirm: false,
            closeOnCancel: false },
        function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                url:"{:Url('admin/generaluser/saveCertification')}",
                data:$(form).serialize(),
                type:'post',
                dataType:'json',
                success: function(xhr){
                    if(xhr.code == 200){
                        swal(xhr.msg, "", "success");
                    }else{
                        swal(xhr.msg, "", "error");
                    }
                }
                })
            } else {
                swal("操作已取消", "", "error");
            }
        });
        }
    });
    });
</script>
{/block}
