{extend name="public/base" /}

{block name="content"}

     
<!-- Page Breadcrumb -->
<div class="page-breadcrumbs">
    <ul class="breadcrumb">
        <li><a href="{:url('admin/index/index')}">后台首页</a></li>
        <li><a >栏目管理</a></li>
        <li>栏目列表</li>
    </ul>
</div>
<!-- /Page Breadcrumb -->

<!-- Page Body -->
<div class="page-body">

    <div class="box-header with-border">
        <a href="{:Url('admin/cate/create')}" class="btn btn-default btn-flat"><i class="fa fa-plus-square"></i> 创建栏目</a>
        <a href="javascript::void(0)" onclick="reorder()" class="btn btn-default btn-flat"><i class="fa fa-sort-amount-desc"></i> 排序</a>
    </div>
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="widget">
                <div class="widget-body">
                    <div class="flip-scroll">
                    <form action="" accept-charset="utf-8" id="category" method="post">

                        <table class="table table-bordered table-hover">
                            <thead class="">
                                <tr>
                                    <th class="text-center" width="10%">ID</th>
                                    <th class="text-center" width="10%">排序</th>
                                    <th class="text-center" width="35%">栏目名称</th>
                                    <th class="text-center" width="20%">栏目类型</th>
                                    <th class="text-center" width="25%">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {foreach name="catedata" item="v"}
                                <tr id = "t_{$v.id}">
                                    <td align="center">{$v.id}</td>
                                    <td align="center">
                                        <input name="ids[]" type="hidden" value="{$v.id}">
                                        <input class="form-control input-sm" style="width:50px;height:25px;" name="sort[]" type="text" value="{$v.sort}">
                                    </td>
                                    <td >{if condition="$v['level'] neq 0"}|{/if}<?php echo str_repeat('-',$v['level']*8) ?>{$v.catename}</td>
                                    <td align="center">
                                    {$v.type_name}
                                    </td>
                                    <td align="center">
                                        <div class="btn-group">
                                            <a href="{:url('admin/cate/edit',['id'=>$v.id])}" class="btn btn-default btn-xs"><i class="fa fa-edit"></i></a>
                                            <a onClick="deleteOne({$v.id})" class="btn btn-default btn-xs"><i class="fa fa-trash-o"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                {/foreach}
                            </tbody>
                        </table>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- /Page Body -->
</div>



{/block}


{block name="js"}
<script>
    function reorder(){
        $.ajax({
            url:"{:Url('admin/cate/reorder')}",
            data:$("#category").serialize(),
            type:'post',
            dataType:'json',
            success: function(xhr){
                if(xhr.code == 200){
                    swal(xhr.msg, "", "success");
                }else{
                    swal(xhr.msg, "", "error");
                }
            }
        })
    }

    function deleteOne(id){
            swal({
                title: "确定要删除这条记录吗？",
                text: "",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "确定",
                cancelButtonText: "取消",
                closeOnConfirm: false,
                closeOnCancel: false 
            },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url:"{:Url('admin/cate/remove')}",
                        data:{'id':id},
                        type:'post',
                        dataType:'json',
                        success: function(xhr){
                            if(xhr.code == 200){
                                swal(xhr.msg, "", "success");
                                $("#t_"+id).remove();
                            }else{
                                swal(xhr.msg, "", "error");
                            }
                        }
                    })
                } else {
                    swal("操作已取消", "", "error");
                }
            });
    }
</script>
{/block}