<footer role="contentinfo">
	<div class="row">
		<div class="row-content buffer clear-after">
			<section id="top-footer">
				<div class="widget column three"><!-- la class="widget" è forse generata utomaticamente da wp -->
					<h4>菜单</h4>
					<ul class="plain">
						<li><a href="">首页</a></li>
						<li><a href="">山西概况</a></li>
						<li><a href="">景点</a></li>
                        <li><a href="">行程</a></li>
						<li><a href="">博客</a></li>
						<li><a href="">联系我们</a></li>
					</ul>
				</div>
				<div class="widget column three">
					<h4>友情链接</h4>
					<ul class="plain">
                        {volist name='linkres' id='vo'}
                            <li><a href="<?php if(strpos($vo['url'],'http://')!==0)echo 'http://';?>{$vo.url}" target='_blank'>{$vo.title}</a></li>
                        {/volist}
					</ul>
				</div>
				<div class="widget column three">
					<h4>关于我们</h4>
					<p>山西旅游 晋膳晋美.</p>
				</div>
				<div class="widget meta-social column three">
					<h4>关注我们</h4>
					<ul class="inline">
						<li><a href="#" class="twitter-share border-box"><i class="fab fa-weixin fa-lg"></i></a></li>
						<li><a href="#" class="facebook-share border-box"><i class="fab fa-qq fa-lg"></i></a></li>
						<li><a href="#" class="pinterest-share border-box"><i class="fab fa-weibo fa-lg"></i></a></li>
					</ul>
				</div>
			</section><!-- top-footer -->
			<section id="bottom-footer">
				<p class="keep-left">&copy; 2018 LYF All Rights Reserved.</p>
				<p class="keep-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
			</section><!-- bottom-footer -->
		</div><!-- row-content -->
	</div><!-- row -->
</footer>

<!-- <script src="https://code.jquery.com/jquery.js"></script> -->
<script src="__STATIC__/index/style/js/jquery1.js"></script>
<script src="__STATIC__/index/style/js/plugins.js"></script>
<script src="__STATIC__/index/style/js/beetle.js"></script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
<!-- <script src="__STATIC__/index/style/js/jquery-1.11.2.min.js"></script> -->
<script src="__STATIC__/index/style/js/jquery.scrollUp.min.js"></script>
<!-- <script src="__STATIC__/index/style/js/jquery.singlePageNav.min.js"></script>
<script src="__STATIC__/index/style/js/parallax.js-1.3.1/parallax.js"></script>  -->
<!-- jquery-validation -->
<script src="__STATIC__/static/jquery-validation/jquery.validate.min.js"></script>
<script src="__STATIC__/static/jquery-validation/jquery.validate.zh.js"></script>
<!-- sweetalert -->
<script src="__STATIC__/static/sweetalert/sweet-alert.min.js"></script>

<script>

    // HTML document is loaded. DOM is ready.
    $(function() {


        $.scrollUp({
                scrollName: 'scrollUp',      // Element ID
		        scrollDistance: 300,         // Distance from top/bottom before showing element (px)
		        scrollFrom: 'top',           // 'top' or 'bottom'
		        scrollSpeed: 1000,            // Speed back to top (ms)
		        easingType: 'linear',        // Scroll to top easing (see http://easings.net/)
		        animation: 'fade',           // Fade, slide, none
		        animationSpeed: 300,         // Animation speed (ms)
		        scrollText: '', // Text for element, can contain HTML
		        scrollImg: true            // Set true to use image
            });


        $( window ).on( 'scroll', function() {


            if ( $( document ).height() - $( window ).height() === $( window ).scrollTop() ) {

                // Adjust the scrollUp image so that it's a few pixels above the footer
                $('#scrollUp').css( 'bottom', '80px' );

            } else {
                // Otherwise, leave set it to its default value.
                $('#scrollUp').css( 'bottom', '30px' );
            }
        });



    });


    window._bd_share_config={
        "common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"},
        "share":{},
        "image":{"viewList":["qzone","tsina","tqq","renren","weixin"],
        "viewSize":"16"},
        "selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};
        with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];

</script>

	</body>

</html>
