{extend name="public/base" /}

{block name="content"}
<!-- Content Header (Page header) -->
<!-- Page Breadcrumb -->
<div class="page-breadcrumbs">
    <ul class="breadcrumb">
        <li><a>评论管理</a></li>
        <li><a href="{:url('comment/articlecomment')}">景点文章评论</a></li>
        <li>审核评论</li>
    </ul>
</div>
<!-- /Page Breadcrumb -->

<!-- Page Body -->
<div class="page-body">
<!-- Main content -->
<section class="content">

    <div class="box box-solid">
           <form method="post" id="form" action="" class="form-horizontal">
              <!-- Custom Tabs -->
              <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">基本信息</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="tab_1">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">文章标题</label>
                                    <div class="col-sm-5">
                                        <input type="text" Disabled  value="{$data.article_name}" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">被回复者</label>
                                    <div class="col-sm-5">
                                        <input type="text" Disabled  value="{$data.to_username}" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">回复者</label>
                                    <div class="col-sm-5">
                                        <input type="text" Disabled  value="{$data.from_username}" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">点赞数量</label>
                                    <div class="col-sm-2">
                                        <input type="text" Disabled  value="{$data.like}" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">评论内容</label>
                                    <div class="col-sm-5">
                                        <textarea class="form-control" Disabled >{$data.content}</textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">审核</label>
                                    <div class="col-sm-9">
                                        <label class="radio-inline">
                                            <input {eq name="data.status" value="0"}checked{/eq} type="radio" name="status" checked="true" value="0"> 待审核
                                        </label>
                                        <label class="radio-inline">
                                            <input {eq name="data.status" value="1"}checked{/eq} type="radio" name="status" value="1"> 审核通过
                                        </label>
                                    </div>
                                </div>
                  </div>
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
                <div class="box-footer">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="btn-group">
                        <input type="hidden" name="id" value="{$data.id}">
                        <button class="btn btn-default btn-flat" type="reset">取消</button>
                        <button class="btn btn-primary btn-flat" id="submit" type="submit">保存</button>
                    </div>
                    <div class="btn-group ">
                        <a class="btn btn-default btn-flat" href="javascript:history.back(-1);">返回</a>
                    </div>
                </div>
                </div>
              </div>
              <!-- nav-tabs-custom -->
            </form>
    </div>

</section>
<!-- /.content -->
{/block}

{block name="js"}
<script>

    $(function(){

        $("#form").validate({
            rules: {
                name: {
                    required: true,
                    minlength: 1,
                    maxlength: 64
                }
            },
            submitHandler: function(form) {
                <!-- alert("submitted!"); -->
                $.ajax({
                    url:"{:Url('admin/comment/update')}",
                    data:$(form).serialize(),
                    type:'post',
                    dataType:'json',
                    success:function(xhr){
                        if(xhr.code == 200){
                            swal({
                                title: xhr.msg,
                                text: "",
                                type: "success",
                                confirmButtonText: '确定',
                                cancelButtonText: '取消',
                            });
                        } else{
                            swal({
                                title: xhr.msg,
                                text: "",
                                type: "error",
                                confirmButtonText: '确定',
                                cancelButtonText: '取消',
                            });
                        }
                    }
                });

            }
        });

    });
</script>
{/block}
